@{
    ViewBag.Title = "Index";
}

<style>
    .mainimg {
        margin: 0px auto;
        border: solid#E60000 1px;
    }
</style>



<section class="site-section site-section-light site-section-top " style="color:#E60000;">
    <div class="container">
        <h1 class="text-center animation-slideDown "><strong>Dock Leveller Power Pack </strong></h1>
        <div class="text-center">

            <a  href="/Contact" class="btn button "> Make An Enquiry </a>
            <br />
            <br/>
            <img src="/images/Spare/spare.png" class=" mainimg  img-responsive" alt="Promo Image 1">
            </div>
        </div>
    </section>
