@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Winner Hydraulics Australia Pty Ltd. Instead of “Hyspec ….”<br />
    Unit 2b/19 Peel Street, Eltham Vic, 3095<br />
    <abbr title="Phone">P:</abbr>
    New phone number coming
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>