@{
    ViewBag.Title = "Home Page";
}
<style>
	.circle
 {
          border:solid 1px #E7001B  ;
          padding:5px;
          margin:15px;
          /*width:150px;
          height:150px;
          border-radius:100px;*/

 }
    .intro img

    {

           vertical-align: text-bottom;
    }
    </style>


<div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="active item" style="padding:15px;">
            <section class="site-section site-section-light site-section-top " style="color:#E60000;">
                <div class="container">
                    <h1 class="text-center animation-slideDown "><strong>WINNER HYDRAULICS AUSTRALIA PTY LTD HAS BEEN ESTABLISHED TO OFFER SUN  HYDRAULIC CARTRIDGE EQUIVALENTS.</strong></h1>
                    <h3 class="text-center animation-slideUp push ">WE ALSO BUILD AC AND DC POWER PACKS TO SUIT YOUR REQUIREMENTS</h3>
                    <div class=" text-center animation-fadeIn" style="margin-bottom:100px;float:left;width:100%">
                        <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <a href="/CARTRIDGES" class=" intro  animation-fadeIn360" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <img src="images/intro/HYDRAULIC CARTRIDGE VALVES.png" class="circle  img-responsive" alt="Promo Image 1">
                                <div> HYDRAULIC CARTRIDGE VALVES</div>
                            </a>
                        </div>
                        <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <a href="/package" class=" intro animation-fadeIn360" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <img src="images/intro/HYDRAULIC POWER PACKS.png" class="circle  img-responsive" alt="Promo Image 1">
                                <div> HYDRAULIC POWER PACKS</div>
                            </a>
                        </div>
                        <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <a href="/SPARE" class=" intro  animation-fadeIn360" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <img src="images/intro/HYDRAULIC SPARE PARTS 1.png" class="circle img-responsive" alt="Promo Image 1">
                                <div> HYDRAULIC SPARE PARTS </div>
                            </a>
                        </div>
                        


                    </div>
                    <div class="text-center">

                        <a href="/contact" class="btn button "> Make An Enquiry </a>

                    </div>
                </div>



            </section>

        </div>
        <!-- <div class=" item"> -->
        <!-- <section class="site-section site-section-light site-section-top " style="background-color:#fff !important;color:#E60000;"> -->
        <!-- <div class="container"> -->
        <!-- <h1 class="text-center animation-slideDown "><strong>WINNER HYDRAULICS AUSTRALIA PTY LTD HAS BEEN ESTABLISHED TO OFFER SUN  HYDRAULIC CARTRIDGE EQUIVALENTS.</strong></h1> -->
        <!-- <h2 class="text-center animation-slideUp push ">WE ALSO BUILD AC AND DC POWER PACKS TO SUIT YOUR REQUIREMENT</h2> -->
        <!-- <p class="text-center animation-fadeIn"> -->
        <!-- <img src="images/intro/HYDRAULIC POWER PACKS.png" alt="Promo Image 1"> -->
        <!-- </p> -->
        <!-- <center> -->
        <!-- <img src="images/intro/MAKE ENQUIRY.png"/> -->
        <!-- </center> -->
        <!-- </div> -->
        <!-- </section> -->
        <!-- </div> -->
        <!-- <div class=" item"> -->
        <!-- <section class="site-section site-section-light site-section-top " style="background-color:#fff !important;color:#E60000;"> -->
        <!-- <div class="container"> -->
        <!-- <h1 class="text-center animation-slideDown "><strong>WINNER HYDRAULICS AUSTRALIA PTY LTD HAS BEEN ESTABLISHED TO OFFER SUN  HYDRAULIC CARTRIDGE EQUIVALENTS.</strong></h1> -->
        <!-- <h2 class="text-center animation-slideUp push ">WE ALSO BUILD AC AND DC POWER PACKS TO SUIT YOUR REQUIREMENT</h2> -->
        <!-- <p class="text-center animation-fadeIn"> -->
        <!-- <img src="images/intro/HYDRAULIC SPARE PARTS 1.png" alt="Promo Image 1"> -->
        <!-- </p> -->
        <!-- <center> -->
        <!-- <img src="images/intro/MAKE ENQUIRY.png"/> -->
        <!-- </center> -->
        <!-- </div> -->
        <!-- </section> -->
        <!-- </div> -->
        <!-- <div class=" item"> -->
        <!-- <section class="site-section site-section-light site-section-top " style="background-color:#fff !important;color:#E60000;"> -->
        <!-- <div class="container"> -->
        <!-- <h1 class="text-center animation-slideDown "><strong>WINNER HYDRAULICS AUSTRALIA PTY LTD HAS BEEN ESTABLISHED TO OFFER SUN  HYDRAULIC CARTRIDGE EQUIVALENTS.</strong></h1> -->
        <!-- <h2 class="text-center animation-slideUp push ">WE ALSO BUILD AC AND DC POWER PACKS TO SUIT YOUR REQUIREMENT</h2> -->
        <!-- <p class="text-center animation-fadeIn"> -->
        <!-- <img src="images/intro/HYDRAULIC SPARE PARTS 2.png" alt="Promo Image 1"> -->
        <!-- </p> -->
        <!-- <center> -->
        <!-- <img src="images/intro/MAKE ENQUIRY.png"/> -->
        <!-- </center> -->
        <!-- </div> -->
        <!-- </section> -->
        <!-- </div> -->


    </div>

</div>