@{
    ViewBag.Title = "Index";
}

<style>
    .circle {
        border: solid 1px #E7001B;
        padding: 5px;
        margin: 15px;
        /*width:150px;
          height:150px;
          border-radius:100px;*/
    }

    .intro img {
        vertical-align: text-bottom;
    }
</style>

<section class="site-section site-section-light site-section-top " style="color:#E60000;">
    <div class="container">
        <h1 class="text-center animation-slideDown "><strong>SELECT POWER PACK</strong></h1>

        <div class=" text-center animation-fadeIn" style="margin-bottom:100px;float:left;width:100%">
            <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <a href="/package/DcEnquiry" class=" intro  animation-fadeIn360" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                    <img src="/images/PPACK/DCPower Pack.png" class="circle  img-responsive" alt="Promo Image 1">
                    <div> DC Power Pack</div>
                </a>
            </div>
            <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <a href="/package/ACEnquiry" class=" intro animation-fadeIn360" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                    <img src="/images/PPACK/AC_Power_Pack.png" class="circle  img-responsive" alt="Promo Image 1">
                    <div> AC Power Pack</div>
                </a>
            </div>
            <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <a href="/DOCKLEVELLER" class=" intro  animation-fadeIn360" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                    @*<img src="/images/PPACK/AC_Power_Pack.png" class="circle  img-responsive" alt="Promo Image 1">*@
                    <img src="/images/PPACK/Dock_Leveller_Power_Pack2.png" class="circle img-responsive" alt="Promo Image 1">
                    <div>Dock Leveller Power Pack</div>
                </a>
            </div>
         




        </div>
    </div>



</section>


